<div class="container-fluid bg-dark navbar-dark">
  <div class="d-flex justify-content-between">
    <div>
      <img
        class="logotipe"
        src="/assets/img/logos/gamezonia.png"
        alt="Logotipo"
        srcset=""
      />
    </div>
    <div>
      <p>andq14@gmail.com</p>
    </div>
    <div class="d-flex flex-row">
      <a class="nav-link active" href="#">Active link</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link disabled" href="#">Disabled link</a>
    </div>
  </div>
</div>
